<form class="row" [formGroup]="formOci" (submit)="guardar">
    <div class="col-12 m-2">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-4 form-group ">
                        <div class="input-group ">
                            <div class="input-group-prepend w-25"><span
                                    class="input-group-text w-100 justify-content-center">Oci</span>
                            </div>
                            <input class="form-control" placeholder="123" formControlName="oci">
                        </div>
                    </div>
                    <div class="col-4 form-group ">
                        <div class="input-group ">
                            <div class="input-group-prepend w-25"><span
                                    class="input-group-text w-100 justify-content-center">Cliente</span>
                            </div>
                            <ng-select class="prepend-select w-75" [(ngModel)]="clienteSelect" bindLabel="razonSocial"
                                [items]="cliente" bindValue="id" placeholder="Seleccione..." formControlName="cliente">
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-4 form-group ">
                        <div class="input-group ">
                            <div class="input-group-prepend w-25"><span
                                    class="input-group-text w-100 justify-content-center">Estado</span>
                            </div>
                            <ng-select class="prepend-select w-75 " [(ngModel)]="estadoOCISelect" bindLabel="text"
                                [items]="estadoOCI" bindValue="id" placeholder="Seleccione..." formControlName="estado">
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-4 form-group ">
                        <div class="input-group ">
                            <div class="input-group-prepend w-25"><span
                                    class="input-group-text w-100 justify-content-center">Estimación
                                    Dias</span>
                            </div>
                            <input class="form-control" placeholder="123" type="number" formControlName="estimacion">
                        </div>
                    </div>
                    <div class="col-4 form-group ">
                        <div class="input-group ">
                            <div class="input-group-prepend w-25"><span
                                    class="input-group-text w-100 justify-content-center">Prioridad</span>
                            </div>
                            <ng-select class="prepend-select w-75 " [(ngModel)]="prioridadOciSelect" bindLabel="text"
                                formControlName="prioridad" [items]="prioridarOci" bindValue="text"
                                placeholder="Seleccione...">
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-12 justify-content-center">
                        <div class="">
                            <span class="justify-content-center">nota</span>
                        </div>
                        <textarea class="form-control" placeholder="123" type="number" formControlName="nota" rows="3"
                            maxlength="240"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 m-2">
        <app-oci-detalle [ociDetalleEstado]="estadoOCI" 
            (agregarDetalle)="agregarDetalle($event)"></app-oci-detalle>
    </div>
    <div class="col-12 m-2">
        <app-oci-detalle-tabla [ociDetalle]="ociDetalleArray"></app-oci-detalle-tabla>
    </div>
</form>