<div class="row">
    <div class="col-12">
        <table aria-hidden="true" class="text-center table border mt-3">
            <thead>
                <tr>
                    <th>Prenda</th>
                    <th>Cantidad</th>
                    <th>Color</th>
                    <th>Estado</th>
                    <th>Producir Donde</th>
                    <th>Fecha</th>
                    <th>Tela</th>
                    <th>Talla</th>
                    <th>Posee Tela</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of ociDetalle; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{item.prenda}}</td>
                    <td>{{item.cantidad}}</td>
                    <td>{{item.color}}</td>
                    <td>{{item.estado}}</td>
                    <td></td>
                    <td>{{item.fechaInicio}}</td>
                    <td>{{item.tela}}</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>